# Compiled output
node_modules/
dist/
.tmp/
.vscode

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Deployment
*.env
.azure
__azurite_db_*

# DB Storage
.qdrant/
__blobstorage__
__queuestorage__

# OS
.DS_Store
